
.trailer,
.movie {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}

.details {
  padding: 10px;
}

@media (min-width: 768px) {
  .trailer,
  .movie {
    width: 50%;
    float: left;
  }
  
  .movie {
    padding-left: 0;
  }
  
  .trailer {
    padding-right: 0;
  }
  
  .details {
    width: 50%;
    float: right;
  }
}

@media (max-width: 767px) {
  .trailer,
  .movie {
    width: 100%;
    float: none;
    padding: 10px 0;
  }
  

}




  

 

  