.cast-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  .actor {
    display: flex;
    align-items: center;
  }

  .img {
    display: flex;
    align-items: center;
  }

  