Iframe {
    aspect-ratio: 16/9;
    border: none;
    max-width: 832px;
    background-color: black;
    background-size: cover;
    background-position: center;
}

.VideoPlayer {
    aspect-ratio: 16/9;
    border: none;
    max-width: 832px;
    max-height:468px;
    background-size: cover;
    background-position: center;
}




